<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>
            Evgeny Budilovsky<br />
          <!-- <a href="https://abc.org">Abc Def</a> &amp;
          <a href="http://efg.com/">Efg Hij</a><br /> -->
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <p>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Blog RSS feed</a><br />
            <a href="https://github.com/budevg/budevg.github.io">Source of this blog</a><br />
        </p>
      </div>

    </div>

  </div>

</footer>
